@tailwind base;
@tailwind components;
@tailwind utilities;


/* Swiper slider */
.sli {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sli-center {
  /* background-color: green; */
  height: 220px;
  width: 520px;
}

.sli-banner{
  height: 100%;
  width: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: yellow; */

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.sli-center .swiper-slide {
  background: red;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
